<% provide(:title, "Help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t(".introduce_help", 
    href1: link_to(t(".introduce_href1"), "setting.help1"), 
    href2: link_to(t(".introduce_href2"), "setting.help2")
    ).html_safe %>
</p>
