<h1><%= t (".help") %></h1>
<p>
  <%= t(".introduce_help", 
  href1: link_to(t(".introduce_href1"), "https://www.railstutorial.org/help"), 
  href2: link_to(t(".introduce_href2"), "https://www.railstutorial.org/book")
  ).html_safe %>
</p>
